/**** IMPORTANT GRIDS ****/
@mixin outer-grid() {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@mixin inner-grid() {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

/****/
.divider {
  margin-bottom: 67px;
}

/*********************
TYPOGRAPHY
*********************/

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
li,
span {
}

h1 {
  font-size: 42px;
  line-height: 42px;
}
h1.logo-text {
  font-size: 50px;
  line-height: 50px;
}

h2 {
  font-weight: 400;
  font-size: 23px;
}

// For header links
h3 {
}

p,
span,
li {
}

p {
}

p.large {
  font-size: 21px;
  line-height: 31px;
}

.btn {
}

.btn.big {
}

.btn.small {
}

.right-arrows {
}

/**************
HOME PAGE
**************/

.main-container.home {
  .splash {
    margin-bottom: 67px;
  }

  .splash-inner-container {
    @include inner-grid();
    h1 {
    }

    h2 {
    }

    .divider {
    }

    .logo {
    }
  }

  .splash-nav {
    h3 {
    }
  }

  .main-content {
    @include outer-grid();
  }
  .intro-section {
    @include inner-grid();
    margin-bottom: 67px;
    p {
    }
  }

  .our-industries-section {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    margin-bottom: 62px;
    .industry-block {
      width: 24%;
      height: 270px;
      margin: 0;
      margin-bottom: 16px;
      img {
      }
      .black-overlay {
      }
      .inner-container {
      }
      h1 {
        font-size: 34px;
        line-height: 34px;
      }
    }
  }
}

/**************
COMPANY PROFILE PAGE
**************/
.main-container.company-profile {
  .splash {
    .black-overlay {
    }

    .header-container {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(flex-start);
      @include outer-grid;
      height: 100%;
      z-index: 1;
      position: absolute;
    }

    .static-header {
      @include flexbox();
      @include justify-content(space-between);
      height: 60px;
      width: 100%;

      .static-header-links {
        height: 100%;
        @include flexbox();
        @include align-items(center);

        .static-dropdown-content {
          display: none;
        }

        .static-dropdown {
          float: left;
          overflow: hidden;
          height: 100%;

          span {
            @include flexbox();
            @include align-items(center);
            height: 100%;
          }
        }

        .static-dropdown-content {
          display: none;
          position: absolute;
          background-color: black;
          min-width: 160px;
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
          z-index: -1;
        }

        .static-dropdown-content a {
          float: none;
          color: white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }

        .static-dropdown:hover .static-dropdown-content {
          display: block;
        }

      }

      img {
        height: 50px;
      }

      a {
        color: white;
        margin-right: 40px;
        @include flexbox();
        @include justify-content(space-around);
        @include align-items(center);
        text-decoration: none;
        cursor: pointer;
      }

      h3 {
        margin: 0;
        padding-left: 15px;
        font-family: $petrona;
        font-weight: 400;
      }
    }

    .divider {
      z-index: 2;
    }

    .splash-inner-container {
      @include inner-grid();
      z-index: 2;
    }
  }

  .main-content {
    @include outer-grid();
    
    .intro-section {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(center);

      .intro-text {
        width: 45%;
        margin: 0 !IMPORTANT;
      }

      p {
        text-align: left;
      }

      img {
        width: 45%;
        height: auto;
      }
    }

    .latest-projects-section {

      .column-container {
        @include flexbox();
        @include justify-content(space-between);
      }
      
      .col {
        width: 30%;
      }
      
      .col:last-child {
      }

      h1 {
        text-align: left !IMPORTANT;
        font-size: 34px !IMPORTANT;
        line-height: 32px !IMPORTANT;
        margin-bottom: 27px !IMPORTANT;
        font-weight: 400 !IMPORTANT;
        letter-spacing: 0.8px !IMPORTANT;
      }

      h2 {
        text-align: left !important;
      }

      p {
        text-align: left;
      }

    }
    img {
    }
  }

  .profile-details-section {

    .blocks {
      @include outer-grid;
      @include flexbox();
      @include justify-content(space-between);

      .divider-outer-container {
        display: none;
      }

      .inner-block {
        width: 30%;


        h1,
        p, {
          text-align: left;
          line-height: 23px;
        }

        .outline-btn {
          margin: 0 0 10px 0;
        }

        .contact {
          @include flexbox();
          @include inline-flex;
          width: 100%;
          text-align: left;
          line-height: 23px;
          
          p {
            margin-left: 6px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
