/**** IMPORTANT GRIDS ****/
@mixin outer-grid() {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

@mixin inner-grid() {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

/****/
.divider {
  margin-bottom: 67px;
}

/*********************
TYPOGRAPHY
*********************/

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
li,
span {
}

h1 {
  font-size: 42px;
  line-height: 42px;
}
h1.logo-text {
  font-size: 50px;
  line-height: 50px;
}

h2 {
  font-weight: 400;
  font-size: 23px;
}

// For header links
h3 {
}

p,
span,
li {
}

p {
  font-size: 19px;
  line-height: 30px;
}

p.large {
  font-size: 21px;
  line-height: 31px;
}

.btn {
}

.btn.big {
}

.btn.small {
}

.right-arrows {
}

/**************
HOME PAGE
**************/

.main-container.home {
  .splash {
    margin-bottom: 67px;
    overflow: hidden;
    position: relative;
    .white-overlay {
      opacity: 1;
      background-color: rgba(6, 37, 36, 0.55);
    }
    video {
      display: block;
      height: 100%;
      width: 177.77777778vh;
      min-width: 100%;
      min-height: 56.25vw;
      position: absolute;
    }
    .down-arrows {
      display: none;
    }
    .down-arrows.black {
      display: none;
    }
  }

  .splash-inner-container {
    opacity: 0;
    -webkit-transition: opacity 1.5s;
    transition: opacity 1.5s;
    margin-bottom: 47px;
    @include inner-grid();
    h1 {
      color: #fff;
    }

    h2 {
      color: #fff;
    }

    .divider {
      border-bottom: 1px solid #fff;
    }

    .logo {
    }
    .marker.black {
      display: none;
    }
    .marker.white {
      display: inline-block;
    }
  }

  .splash-nav {
    h3 {
      color: #fff;
    }
  }

  .main-content {
    @include outer-grid();
  }
  .intro-section {
    @include inner-grid();
    margin-bottom: 67px;
    p {
    }
  }

  .our-industries-section {
    > h1 {
      margin-bottom: 12px;
    }
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    margin-bottom: 62px;
    .industry-outer-container {
      margin-bottom: 17px;
    }
    .industry-block {
      width: 358px;
      max-width: 100%;
      height: 358px;
      margin: 0;
      img {
      }
      .black-overlay {
      }
      .inner-container {
      }
      h1 {
        font-size: 48px;
        line-height: 52px;
      }
    }
  }
}

/**************
COMPANY PROFILE PAGE
**************/
.main-container.company-profile {
  .header-container {
    display: block;
  }
  .splash {
    margin-bottom: 67px;
    .black-overlay {
    }
    .company-logo {
      margin-bottom: 12px;
    }
    .header-container {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(flex-start);
      @include outer-grid;
      height: 100%;
      z-index: 1;
      position: absolute;
    }

    .static-header {
      @include flexbox();
      @include justify-content(space-between);
      height: 60px;
      width: 100%;

      .static-header-links {
        height: 100%;
        @include flexbox();
        @include align-items(center);

        a:nth-of-type(3) {
          margin-right: 0;
        }

        .static-dropdown-content {
          display: none;
        }

        .static-dropdown {
          float: left;
          overflow: hidden;
          height: 100%;

          span {
            @include flexbox();
            @include align-items(center);
            height: 100%;
          }
        }

        .static-dropdown-content {
          display: none;
          position: absolute;
          background-color: black;
          min-width: 160px;
          box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
          z-index: -1;
        }

        .static-dropdown-content a {
          float: none;
          color: white;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }

        .static-dropdown:hover .static-dropdown-content {
          display: block;
        }
      }

      img {
        height: 50px;
      }

      a {
        color: white;
        margin-right: 40px;
        @include flexbox();
        @include justify-content(space-around);
        @include align-items(center);
        text-decoration: none;
        cursor: pointer;
        font-weight: 400;
        font-size: 15px;
      }

      a h3 {
        margin: 0;
        padding-left: 15px;
        font-family: $petrona;
        font-weight: 400;
        font-size: 19px;
      }
    }

    .divider {
      z-index: 2;
    }

    .splash-inner-container {
      @include inner-grid();
      z-index: 2;
      h1 {
        font-size: 48px;
        line-height: 52px;
      }
    }
  }

  .main-content {
    @include outer-grid();

    .intro-section {
      @include flexbox();
      @include justify-content(space-between);
      @include align-items(flex-start);
      * {
        text-align: left !important;
      }
      .intro-text {
        width: 45%;
        margin: 0 !important;
      }

      p {
        text-align: left;
      }

      img {
        width: 495px;
        height: 495px;
        @include object-fit(cover);
      }
    }

    .latest-projects-section {
      .column-container {
        @include flexbox();
        @include justify-content(space-between);
      }

      .col {
        width: 30%;
      }

      .col:last-child {
      }

      h1 {
        text-align: left !important;
        font-size: 34px !important;
        line-height: 32px !important;
        margin-bottom: 47px !important;
        font-weight: 400 !important;
        letter-spacing: 0.8px !important;
      }

      h2 {
        text-align: left !important;
      }

      p {
        text-align: left;
      }
    }
    img {
    }
  }

  .profile-details-section {
    .blocks {
      @include outer-grid;
      @include flexbox();
      @include justify-content(space-between);

      .divider-outer-container {
        display: none;
      }

      .inner-block {
        width: 30%;
        margin-bottom: 0;
        h1 {
          margin-bottom: 37px;
        }
        h1 {
          text-align: left;
        }
        p {
          text-align: left;
          line-height: 23px;
        }

        .outline-btn {
          margin: 0 0 10px 0;
        }

        .contact {
          @include flexbox();
          @include inline-flex;
          width: 100%;
          text-align: left;
          line-height: 23px;
          p.prefix {
            margin-right: 6px;
          }
          p {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
