/*********************************
CONTENTS:
Init stuff and grids - INIT-STYLES
Typography - TYPOGRAPHY
*********************************/

/*********************
INIT-STYLES
*********************/

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
  font-family: $neuton;
  color: $black;
}

@mixin outer-grid() {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}

@mixin inner-grid() {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
}

/** CSS HOVER ANIMATIONS ** /
/* Grow Shadow */
.hvr-grow-shadow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

// Backward move (just moves it to the left)
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-backward:hover,
.hvr-backward:focus,
.hvr-backward:active {
  -webkit-transform: translateX(-24px);
  transform: translateX(-24px);
}

.main-container {
  width: 100%;
  height: 100%;
  .main-wrapper {
    width: 100%;
    height: 100%;
  }
}

.divider-outer-container {
  width: 100%;
  @include outer-grid();
}
.divider {
  width: 100%;
  border-bottom: 1px solid $grey;
  margin-bottom: 47px;
  .marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

// Stops body scrolling when menu is open in mobile
.body-scroll {
  overflow: hidden;
}

/*
  Mixin to fix object-fit in IE without having to write out font-family everywhere
  https://github.com/bfred-it/object-fit-images
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: "object-fit: #{$fit}; object-position: #{$position}";
  } @else {
    font-family: "object-fit: #{$fit}";
  }
}

/*********************
TYPOGRAPHY
*********************/

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
li,
span {
  margin-top: 0;
}

h1 {
  font-size: 34px;
  color: $green;
  text-align: center;
  line-height: 32px;
  margin-bottom: 27px;
  font-weight: 400;
  letter-spacing: 0.8px;
}
h1.logo-text {
  color: $black;
  font-weight: 300;
  font-size: 42px;
  line-height: 42px;
}

h2,
a,
button {
  font-family: $petrona;
  letter-spacing: 0.2px;
}

// For header links
h3 {
  font-family: $neuton;
  font-weight: 400;
}

p,
span,
li {
  font-size: 17px;
  line-height: 26px;
}

p {
  text-align: justify;
}

p.large {
  font-size: 18px;
  line-height: 27px;
}

.btn {
  background-color: $green;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  font-family: $montserrat;
  font-weight: 600;
}

.btn.big {
  padding: 7px 12px;
  font-size: 15px;
}

.btn.small {
  font-size: 14px;
  padding: 2px 6px;
}

.right-arrows {
  height: 9px;
}

/*************
HEADER STYLES
*************/
.fixed-header-bar {
  display: none;
  height: 50px;
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
  margin-top: -50px; /*Header height + box-shadow + companies dropdown height (needs to be refined)*/
  transition: margin 0.3s ease-in-out;
  z-index: 999;
  width: 100%;

  .fixed-header-inner {
    @include flexbox();
    @include justify-content(space-around);
    @include align-items(center);
    @include flex-wrap(wrap);
    height: 100%;

    .fixed-header-inner-inner {
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(flex-end);
      @include align-items(center);
      width: 100%;
      height: 100%;

      .daya-index-anchor {
        @include flexbox;
        position: absolute;
        width: 100%;
        @include justify-content(center);
        z-index: 1;

        h3 {
          padding-left: 15px;
        }
      }

      .nav-toggle {
        margin-right: 20px;
        z-index: 2;

        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        box-shadow: none;
        outline: 0;

        @include flexbox;
        @include align-items(center);

        img {
          width: 20px;
          height: 15px;
        }
      }

      .nav-toggle-cross {
        margin-right: 22px;
        margin-top: 5px;
        z-index: 2;

        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        box-shadow: none;
        outline: 0;

        @include flexbox;
        @include align-items(center);
        display: none;

        img {
          width: 14px;
          height: auto;
        }
      }

      button:focus {
        outline: none!important;
      }
    }

    .fixed-header-mobile {
      width: 100%;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          float: left;
          position: relative;
          width: 100%;
          background-color: black;

          > a {
            line-height: 70px;
            color: white;
            text-decoration: none;
            width: 60%;
            margin: 0 auto;
            border-top: solid 1px #3a3a3a;
            min-width: 260px;
            max-width: 360px;
            font-size: 17px;

            &:not(:only-child):after {
              padding-left: 4px;
              content: " ▾";
            }
          }

          ul li {
            width: 100%;
            a {
            }
          }
        }

        li:nth-of-type(1) > a {
          border-top: none;
        }
      }
    }
  }

  .nav-list  {
    display: none;
    margin-top: 50px;    
    // box-shadow: 0px 4px 80px 0px rgba(0, 0, 0, 0.2);
  }

  .nav-list-show {
    overflow: scroll;
    overflow-x: hidden;
    height: calc(100vh - 40px); //height of fixed header - 10px weird space ul
  }

  .nav-dropdown {
    display: none;
  }

  .dropdown {
    span {
      @include flexbox();
      @include align-items(center);
      height: 100%;
      width: 133px; //93px text + 40px margin
    }
  }



// SHOULD BE ABLE TO REMOVE THIS WHEN DOING POSITIONING OF DESKTOP DROPDOWN
// 
// 
// 
// 
  .dropdown-content-outer {
    padding-left: 0;
    padding-right: 0;
    width: 1vh;
    max-width: 1100px;
    margin-left: auto;
    margin-right: -155px; //133px + 122px
    position: absolute;
  }
  // 
  // 
  // 
  // 
  // 


  // .dropdown-content {
  //   opacity: 0;
  //   -webkit-transition: visibility 0s, opacity 0.2s linear;
  //   transition: visibility 0s, opacity 0.2s linear;
  //   position: absolute;
  //   background-color: white;
  //   min-width: 400px;
  //   box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  //   z-index: 2;
  //   max-height: 400px;
  //   overflow: scroll;
  //   overflow-x: hidden;
  // }

  // .dropdown-content {
  //   @include flexbox;
  //   @include align-items(center);
  //   @include justify-content(center);
  //   @include flex-direction(column);
  // }

  .dropdown-content a {
    position: relative;
    height: 90px;
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-right: 0;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      @include object-fit(cover);
      z-index: 0;
    }
    .black-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background-color: #000000;
      opacity: 0.8;
      z-index: 1;
    }
    h3 {
      font-size: 18px;
      font-family: $neuton;
      font-weight: 400;
      color: #fff;
      z-index: 2;
    }
  }

  .fixed-header-links {
    display: none;
    a {
      display: none;
    }
  }

  a {
    height: 50px;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    text-decoration: none;
  }

  h3 {
    margin: 0;
    color: black;
    font-family: $petrona;
    font-weight: 400;
    font-size: 16px;
  }

  img {
    height: 40px;
  }
}

.show {
  margin-top: 0;
}

.fixed-header-links {
  height: 100%;
  @include flexbox();
  @include justify-content(flex-end);
  @include align-items(center);

  a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    margin-right: 40px;
  }

  > a:nth-of-type(3) {
    margin-right: 0;
    width: 122px;
  }

  a:hover {
    cursor: pointer;
  }
}

/**************
HOME PAGE
**************/

.main-container.home {
  .splash {
    margin-bottom: 47px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/splashbg.jpg);
    background-size: cover;
    background-position: center;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    video {
      display: none;
    }
    .down-arrows {
      position: absolute;
      bottom: 47px;
      width: 22px;
    }
    .down-arrows.white {
      display: none;
    }
  }

  .white-overlay {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
  }

  .splash-inner-container {
    @include inner-grid();
    margin-bottom: 22px;
    z-index: 2;
    h1 {
      margin-bottom: 12px;
    }

    h2 {
      font-size: 19px;
      margin-bottom: 37px;
    }

    .divider {
      position: relative;
      margin-bottom: 22px;
      border-bottom: 1px solid $black;
    }

    .logo {
      width: 68px;
    }
    .marker.white {
      display: none;
    }
  }

  .splash-nav {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(center);
    h3 {
      margin: 0px 12px 13px 12px;
    }
  }

  .main-content {
    @include inner-grid();
    text-align: center;
  }
  .intro-section {
    margin-bottom: 47px;
    p {
      margin-bottom: 27px;
    }
  }

  .our-industries-section {
    > h1 {
      width: 100%;
      margin-bottom: 12px;
    }
    > h3 {
      width: 100%;
      margin-bottom: 47px;
      font-family: $montserrat;
      font-weight: 300;
      font-size: 16px;
      color: $green;
    }
    .industry-outer-container {
      margin-bottom: 27px;
    }
    .industry-block {
      position: relative;
      width: 100%;
      max-width: 300px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        position: absolute;
      }
      .black-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.63);
        z-index: 2;
      }
      .inner-container {
        margin-top: -37px;
        z-index: 2;
        padding: 0 100px;
      }
      h1 {
        font-weight: 300;
        color: #fff;
        margin-bottom: 8px;
      }
      h3 {
        font-family: $montserrat;
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        margin-bottom: 0;
        height: 0;
      }
      .btn {
        position: absolute;
        bottom: 38px;
        left: 0;
        right: 0;
        margin: auto;
        width: 92px;
        padding: 0;
      }
    }
  }
}

/**************
COMPANY PROFILE PAGE
**************/
.main-container.company-profile {
  .header-container {
    display: none;
  }
  .splash {
    text-align: center;
    height: 90%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    position: relative;
    margin-bottom: 47px;
    .company-logo {
      width: 83%;
      max-width: 184px;
      margin-bottom: 22px;
    }
    .black-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background: #000;
      opacity: 0.7;
    }
    .divider {
      margin-bottom: 27px;
      position: relative;

      .marker {
        top: 2px;
      }
    }
    .splash-inner-container {
      z-index: 2;
      position: relative;
      h1 {
        color: #fff;
        margin-bottom: 12px;
      }
      h3 {
        color: #fff;
        font-family: $montserrat;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        font-size: 13px;
        margin-bottom: 27px;
      }
    }
  }

  .main-content {
    @include inner-grid();

    .intro-section {
      margin-bottom: 47px;

      div {
        margin: 0;
        padding: 0;
      }

      .intro-text {
        width: 100%;
        margin: 0 !important;
        padding: 0;
        border: none;
      }

      p {
        margin-bottom: 47px;
        text-align: justify;
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .latest-projects-section {
      .col {
        padding-bottom: 47px;
        margin: 0 0 47px 0 !important;
        border-bottom: 1px solid $grey;
        width: 100%;
      }

      .col:last-child {
        border-bottom: none;
      }

      // h1,
      // h2,
      // h3 {
      //   color: $green !important;
      //   text-align: center !important;
      //   margin-bottom: 17px;
      //   font-size: 22px !important;
      //   font-weight: 300 !important;
      // }

      p {
        margin-bottom: 27px;
        text-align: justify;
      }

      h2 {
        color: $green;
      }

      img {
        width: 100%;
        min-height: 140px;
      }
    }
  }

  .profile-details-section {
    text-align: center;
    color: #fff;
    padding: 60px 0;
    background-color: #08150a;
    .inner-block {
      margin-bottom: 67px;
    }
    .inner-block:last-child {
      margin-bottom: 0;
    }

    h1 {
      color: #fff;
      margin-bottom: 27px;
    }

    p {
      text-align: center;
    }
    .outline-btn {
      border: 1px solid #fff;
      padding: 15px;
      color: #fff;
      font-family: $montserrat;
      font-weight: 300;
      text-transform: uppercase;
      width: 226px;
      display: block;
      margin: 0 auto 17px auto;
      font-size: 14px;
    }
  }
}

/**************
ABOUT US PAGE
**************/

.main-container.about-us {
  .header-container {
    display: none;
  }

  .main-wrapper {
  }

  .splash {
    margin-bottom: 27px;
    text-align: center;
    height: 340px;
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    position: relative;

    .company-logo {
      width: 83%;
      max-width: 184px;
      margin-bottom: 22px;
    }

    .black-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background: #000;
      opacity: 0.7;
    }

    .divider {
      position: relative;
      margin: 20px 0;

      .marker {
        top: 2px;
      }
    }

    .splash-outer-container {
      @include outer-grid;
      width: 100%;
    }

    .splash-inner-container {
      z-index: 2;
      position: relative;

      h1 {
        color: #fff;
      }

      h3 {
        color: #fff;
        font-family: $montserrat;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        font-size: 13px;
        margin-bottom: 27px;
      }
    }
  }

  .main-content {
    @include inner-grid;

    h1 {
      margin-bottom: 47px;
    }

    .intro {
      @include flexbox();
      @include justify-content(center);
      @include flex-direction(column);
      @include inner-grid;

      .intro-img {
        width: 90px;
        height: 30vh;
        min-height: 215px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        margin: 0 auto 8px auto;
      }

      img {
        width: 77px;
      }

      p {
        font-size: 20px;
      }
    }

    // Timeline
    .cd-timeline {
      overflow: hidden;
      border-top: 1px solid $grey;
      border-bottom: 1px solid $grey;
      margin: 47px auto;
      padding-top: 47px;
      padding-bottom: 47px;
    }

    .cd-timeline__container {
      position: relative;
      width: 90%;
      max-width: 1170px;
      margin: 0 auto;
      padding: 2em 0;
    }

    .cd-timeline__container::before {
      /* this is the vertical line */
      content: "";
      position: absolute;
      top: 0;
      left: 18px;
      height: 100%;
      width: 4px;
      background: #efefef;
    }

    .cd-timeline__container {
      position: relative;
      width: 90%;
      max-width: 1170px;
      margin: 0 auto;
      padding: 2em 0;
    }

    .cd-timeline__container::before {
      /* this is the vertical line */
      content: "";
      position: absolute;
      top: 4px;
      left: 23px;
      height: 100%;
      width: 3px;
      background: #e4e4e4;
    }

    .grey-marker.one {
      position: absolute;
      left: 16px;
      top: 0px;
    }
    .grey-marker.two {
      position: absolute;
      left: 16px;
      bottom: -10px;
    }
    .cd-timeline__block {
      position: relative;
      margin: 2em 0;
    }

    .cd-timeline__block:after {
      /* clearfix */
      content: "";
      display: table;
      clear: both;
    }

    .cd-timeline__block:first-child {
      margin-top: 0;
    }

    .cd-timeline__block:last-child {
      margin-bottom: 0;
    }

    .cd-timeline__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 4px #ffffff;
      -webkit-box-shadow: 0 0 0 4pt #ffffff;
      -moz-box-shadow: 0 0 0 4pt #ffffff;
    }

    .cd-timeline__img img {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
    }

    @-webkit-keyframes cd-bounce-1 {
      0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
      }
      60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

    @keyframes cd-bounce-1 {
      0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
      }
      60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }

    .cd-timeline__content {
      position: relative;
      margin-left: 60px;
      padding: 1em;
      border-bottom: 3px solid #efefef;
    }

    .cd-timeline__content:after {
      /* clearfix */
      content: "";
      display: table;
      clear: both;
    }

    .cd-timeline__content h3 {
      font-family: $montserrat;
      color: $green;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 8px;
      line-height: 16px;
    }

    .cd-timeline__content .seperator {
      width: 52px;
      height: 3px;
      background-color: $green;
    }

    .cd-timeline__content p,
    .cd-timeline__read-more,
    .cd-timeline__date {
      font-size: 1.3rem;
    }

    .cd-timeline__content p {
      text-align: left;
      margin: 1em 0;
      line-height: 1.6;
    }

    .cd-timeline__read-more,
    .cd-timeline__date {
      display: inline-block;
    }

    .cd-timeline__read-more {
      float: right;
      padding: 0.8em 1em;
      background: #acb7c0;
      color: white;
      border-radius: 0.25em;
    }

    .cd-timeline__read-more:hover {
      background-color: #bac4cb;
    }

    .cd-timeline__date {
      float: left;
      padding: 0.8em 0;
      opacity: 0.7;
    }

    @-webkit-keyframes cd-bounce-2 {
      0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
      }
      60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    @keyframes cd-bounce-2 {
      0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
      }
      60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    @-webkit-keyframes cd-bounce-2-inverse {
      0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
      }
      60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    @keyframes cd-bounce-2-inverse {
      0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
      }
      60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
      }
      100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }

    // end of timeline

    .board {
      margin-bottom: 47px;
      padding-bottom: 47px;
      border-bottom: 1px solid $grey;
      @include outer-grid;

      img {
        width: 100%;
        margin-top: 30px;
      }

      h3 {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        color: $green;
      }

      h2 {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 5px;
      }
    }

    .achievements {
      @include outer-grid;

      .awards_images {
        width: 100%;

        img {
          width: 100%;
          margin-top: 30px;
        }
      }

      .awards_txt {
        margin: 65px 0;

        h2 {
          color: $green;
          text-align: center;
          margin: 65px 0;
          line-height: 1.4;
          font-weight: 400;
        }

        h3 {
          text-align: center;
          font-weight: 700;
          margin-top: 40px;
          margin-bottom: 5px;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}

/****
CONTACT US PAGE
****/
.main-container.contact-us {
  height: auto;
  .splash {
    position: relative;
    margin-bottom: 27px;
    text-align: center;
    height: 340px;
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    position: relative;

    h1 {
      font-size: 42px;
      margin: 45px 0 51px 0;
    }
    .divider {
      margin: 0;
      position: relative;
      margin: 20px 0;
      border-bottom: 1px solid $black;
      .marker {
        top: 2px;
      }
    }

    .splash-outer-container {
      @include outer-grid;
      margin-top: -67px;
      width: 100%;
    }

    .splash-inner-container {
      z-index: 2;
      position: relative;

      h1 {
        color: $black;
      }

      h3 {
        color: $black;
        font-family: $montserrat;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        font-size: 13px;
        margin-bottom: 27px;
      }
    }
  }

  .main-content {
    margin-top: -147px;
    z-index: 2;
    position: relative;
    .contact-block {
      text-align: center;
      margin-bottom: 47px;
      h3 {
        font-size: 14px;
        text-transform: uppercase;
        font-family: $montserrat;
        font-weight: 300;
        margin-bottom: 8px;
      }
      h2 {
        font-family: $montserrat;
        font-weight: 700;
        margin: 0;
        font-size: 18px;
      }
    }
    .contact-block:not(.address) {
      @include inner-grid();
      text-align: center;
    }

    // FORM
    #contact-form {
      margin-bottom: 47px;
      @include inner-grid();
      h1 {
        margin-bottom: 12px;
      }
      h2 {
        text-align: center;
        font-size: 22px;
        margin-bottom: 47px;
        font-weight: 300;
        letter-spacing: 0;
      }
      input,
      textarea {
        transition: background-color 0.2s;
        display: block;
        resize: none;
        background-color: #e4e4e4;
        outline: none;
        border: none;
        padding: 14px 12px;
        color: #4d4d4d;
        width: 100%;
        margin-bottom: 22px;
        font-size: 18px;
      }
      input:focus,
      textarea:focus {
        background-color: $green;
        outline: none;
        border: none;
        box-shadow: none;
        color: #fff;
      }
      textarea {
        height: 180px;
      }

      $buttonColor: $green;
      $successColor: $green;

      %flex {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      *,
      *:before,
      *:after {
        box-sizing: border-box;
      }

      button.btn {
        @extend %flex;
        width: 100px;
        padding: 20px 20px;
        background: transparent;
        will-change: transform;
        border-radius: 0;
        transition: all 0.2s ease;
        border: 2px solid $buttonColor;
        cursor: pointer;
        color: #ffffff;
        font-size: 18px;
        color: $buttonColor;
        outline: none;
        text-align: center;
        box-shadow: none !important;
        margin-left: auto;
        margin-right: auto;
        &:hover {
          background: $buttonColor;
          color: #ffffff;
        }
        &:active {
          font-size: 15px;
          transform: translateY(1px);
        }
        &.active {
          font-size: 0;
          border-radius: 100%;
          width: 50px;
          height: 50px;
          background: transparent;
        }
        &.loader {
          border-right: 2px solid #ffffff;
          animation: loader 0.4s linear infinite;
        }
        &.success {
          background: $successColor;
          border-color: $successColor;
          font-size: 18px;
          color: #ffffff;
          width: 100%;
        }
      }
      button.btn:focus {
        box-shadow: none;
        outline: none;
      }

      @keyframes loader {
        0% {
          transform: rotateZ(0);
        }
        100% {
          transform: rotateZ(360deg);
        }
      }
    }
  }
}
/**************
FOOTER
**************/

.footer-container {
  height: 70px;
  background-color: $green;
  text-align: center;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  color: #fff;
  font-family: $montserrat;
  font-size: 13px;
}
