/*********************************
CONTENTS:
Init stuff and grids - INIT-STYLES
Typography - TYPOGRAPHY
*********************************/

/*********************
INIT-STYLES
*********************/

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;
  font-family: $neuton;
  color: $black;
}

@mixin outer-grid() {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}

@mixin inner-grid() {
  padding-left: 30px;
  padding-right: 30px;
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  width: 100%;
  height: 100%;
  .main-wrapper {
    width: 100%;
    height: 100%;
  }
}

.divider-outer-container {
  width: 100%;
  @include outer-grid();
}
.divider {
  width: 100%;
  border-bottom: 1px solid $grey;
  margin-bottom: 47px;
  .marker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

/*
  Mixin to fix object-fit in IE without having to write out font-family everywhere
  https://github.com/bfred-it/object-fit-images
  This mixin can be used to set the object-fit:
  @include object-fit(contain);
  or object-fit and object-position:
  @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null) {
  -o-object-fit: $fit;
  object-fit: $fit;
  @if $position {
    -o-object-position: $position;
    object-position: $position;
    font-family: "object-fit: #{$fit}; object-position: #{$position}";
  } @else {
    font-family: "object-fit: #{$fit}";
  }
}

/*********************
TYPOGRAPHY
*********************/

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
li,
span {
  margin-top: 0;
}

h1 {
  font-size: 34px;
  color: $green;
  text-align: center;
  line-height: 32px;
  margin-bottom: 27px;
  font-weight: 400;
  letter-spacing: 0.8px;
}
h1.logo-text {
  color: $black;
  font-weight: 300;
  font-size: 42px;
  line-height: 42px;
}

h2,
a,
button {
  font-family: $petrona;
  letter-spacing: 0.2px;
}

// For header links
h3 {
  font-family: $neuton;
  font-weight: 400;
}

p,
span,
li {
  font-size: 17px;
  line-height: 26px;
}

p {
  text-align: justify;
}

p.large {
  font-size: 18px;
  line-height: 27px;
}

.btn {
  background-color: $green;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  font-family: $montserrat;
  font-weight: 600;
}

.btn.big {
  padding: 7px 12px;
  font-size: 15px;
}

.btn.small {
  font-size: 14px;
  padding: 2px 6px;
}

.right-arrows {
  height: 9px;
}

/*************
HEADER STYLES
*************/
.fixed-header-bar {
  height: 60px;
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
  margin-top: -183px; /*Header height + box-shadow + companies dropdown height (needs to be refined)*/
  transition: margin 0.3s ease-in-out;
  z-index: 999;
  width: 100%;

  .fixed-header-inner {
    // Desktop outer-grid styles
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    height: 100%;
  }
  .dropdown {
    float: left;
    overflow: hidden;
    height: 100%;

    span {
      @include flexbox();
      @include align-items(center);
      height: 100%;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: -1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  a {
    height: 50px;
    @include flexbox();
    @include justify-content(space-around);
    @include align-items(center);
    text-decoration: none;

    h3 {
      margin: 0;
      padding-left: 15px;
      color: black;
      font-family: $petrona;
      font-weight: 400;
    }
  }

  img {
    height: 45px;
  }
}

.show {
  margin-top: 0;
}

.fixed-header-links {
  height: 100%;
  @include flexbox();
  @include justify-content(flex-end);
  @include align-items(center);

  a {
    color: black;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    margin-right: 40px;
  }

  a:nth-of-type(3) {
    margin-right: 0;
  }

  a:hover {
    cursor: pointer;
  }

  .dropdown-content {
    a {
      width: 100%;
    }
  }
}

/**************
HOME PAGE
**************/

.main-container.home {
  .splash {
    margin-bottom: 47px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(../img/splashbg.jpg);
    background-size: cover;
    background-position: center;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }
  .white-overlay {
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
  }

  .splash-inner-container {
    @include inner-grid();
    margin-bottom: 22px;
    z-index: 2;
    h1 {
      margin-bottom: 12px;
    }

    h2 {
      font-size: 19px;
      margin-bottom: 37px;
    }

    .divider {
      position: relative;
      margin-bottom: 22px;
      border-bottom: 1px solid $black;
    }

    .logo {
      width: 68px;
    }
  }

  .splash-nav {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(center);
    h3 {
      margin: 0px 12px 13px 12px;
    }
  }

  .main-content {
    @include inner-grid();
    text-align: center;
  }
  .intro-section {
    margin-bottom: 47px;
    p {
      margin-bottom: 27px;
    }
  }

  .our-industries-section {
    .industry-block {
      position: relative;
      width: 100%;
      max-width: 300px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 27px;
      @include flexbox();
      @include justify-content(center);
      @include align-items(center);
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        position: absolute;
      }
      .black-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.63);
        z-index: 2;
      }
      .inner-container {
        z-index: 2;
      }
      h1 {
        color: #fff;
        margin-bottom: 17px;
        font-weight: 700;
      }
    }
  }
}

/**************
COMPANY PROFILE PAGE
**************/
.main-container.company-profile {
  .splash {
    text-align: center;
    height: 90%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include flex-direction(column);
    position: relative;
    margin-bottom: 47px;
    .black-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      background: #000;
      opacity: 0.7;
    }
    .divider {
      margin-bottom: 27px;
      position: relative;

      .marker {
        top: 2px;
      }
    }
    .splash-inner-container {
      z-index: 2;
      position: relative;
      h1 {
        color: #fff;
        margin-bottom: 12px;
      }
      h3 {
        color: #fff;
        font-family: $montserrat;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        font-size: 13px;
        margin-bottom: 27px;
      }
    }
  }

  .main-content {
    @include inner-grid();

    .intro-section {
      margin-bottom: 47px;

      div {
        margin: 0;
        padding: 0;
      }

      .intro-text {
        width: 100%;
        margin: 0 !important;
        padding: 0;
        border: none;
      }

      p {
        margin-bottom: 47px;
        text-align: justify;
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .latest-projects-section {
      .col {
        padding-bottom: 47px;
        margin: 0 0 47px 0 !important;
        border-bottom: 1px solid $grey;
        width: 100%;
      }

      .col:last-child {
        border-bottom: none;
      }

      h1,
      h2,
      h3 {
        color: $green !important;
        text-align: center !important;
        margin-bottom: 17px;
        font-size: 22px !important;
        font-weight: 300 !important;
      }

      p {
        margin-bottom: 27px;
        text-align: justify;
      }

      img {
        width: 100%;
        min-height: 140px;
      }
    }
  }

  .profile-details-section {
    text-align: center;
    color: #fff;
    padding: 60px 0;
    background-color: #08150a;
    .inner-block {
      margin-bottom: 67px;
    }
    .inner-block:last-child {
      margin-bottom: 0;
    }
    h1 {
      color: #fff;
      margin-bottom: 27px;
    }
    p {
      text-align: center;
    }
    .outline-btn {
      border: 1px solid #fff;
      padding: 15px;
      color: #fff;
      font-family: $montserrat;
      font-weight: 300;
      text-transform: uppercase;
      width: 226px;
      display: block;
      margin: 0 auto 17px auto;
      font-size: 14px;
    }
  }
}

/**************
FOOTER
**************/

.footer-container {
  height: 70px;
  background-color: $green;
  text-align: center;
  @include flexbox();
  @include justify-content(center);
  @include align-items(center);
  color: #fff;
  font-family: $montserrat;
  font-size: 13px;
}
